body {
    height: 100vh;

}
.wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 20px solid #5c3b2c;
    height: 640px;
    width: 640px;
    position: relative;
    
}
.wrapper > * {
    height: 80px;
    width: 80px;
    text-indent: -9999px;
}
.a1 {
    background: #e4d1b3;
    position: absolute;
    left: 0;
    top: 0;  
}
.a2 {
    background: #9c644b;
    position: absolute;
    left: 80px;
    top: 0;
}
.a3 {
    background: #e4d1b3;
    position: absolute;
    left: 160px;
    top: 0;
}
.a4 {
    background: #9c644b;
    position: absolute;
    left: 240px;
    top: 0;
}
.a5 {
    background: #e4d1b3;
    position: absolute;
    left: 320px;
    top: 0;
}
.a6 {
    background: #9c644b;
    position: absolute;
    left: 400px;
    top: 0;
}
.a7 {
    background: #e4d1b3;
    position: absolute;
    left: 480px;
    top: 0;
}
.a8 {
    background: #9c644b;
    position: absolute;
    left: 560px;
    top: 0;
}
.a9 {
    background: #9c644b;
    position: absolute;
    left: 0;
    top: 80px;
}
.a10 {
    background: #e4d1b3;
    position: absolute;
    left: 80px;
    top: 80px;
}
.a11 {
    background: #9c644b;
    position: absolute;
    left: 160px;
    top: 80px;
}
.a12 {
    background: #e4d1b3;
    position: absolute;
    left: 240px;
    top: 80px;
}
.a13 {
    background: #9c644b;
    position: absolute;
    left: 320px;
    top: 80px;
}
.a14 {
    background: #e4d1b3;
    position: absolute;
    left: 400px;
    top: 80px;
}
.a15 {
    background: #9c644b;
    position: absolute;
    left: 480px;
    top: 80px;
}
.a16 {
    background: #e4d1b3;
    position: absolute;
    left: 560px;
    top: 80px;
}
.a17 {
    background: #e4d1b3;
    position: absolute;
    left: 0;
    top: 160px;  
}
.a18 {
    background: #9c644b;
    position: absolute;
    left: 80px;
    top: 160px;
}
.a19 {
    background: #e4d1b3;
    position: absolute;
    left: 160px;
    top: 160px;
}
.a20 {
    background: #9c644b;
    position: absolute;
    left: 240px;
    top: 160px;
}
.a21 {
    background: #e4d1b3;
    position: absolute;
    left: 320px;
    top: 160px;
}
.a22 {
    background: #9c644b;
    position: absolute;
    left: 400px;
    top: 160px;
}
.a23 {
    background: #e4d1b3;
    position: absolute;
    left: 480px;
    top: 160px;
}
.a24 {
    background: #9c644b;
    position: absolute;
    left: 560px;
    top: 160px;
}
.a25 {
    background: #9c644b;
    position: absolute;
    left: 0;
    top: 240px;
}
.a26 {
    background: #e4d1b3;
    position: absolute;
    left: 80px;
    top: 240px;
}
.a27 {
    background: #9c644b;
    position: absolute;
    left: 160px;
    top: 240px;
}
.a28 {
    background: #e4d1b3;
    position: absolute;
    left: 240px;
    top: 240px;
}
.a29 {
    background: #9c644b;
    position: absolute;
    left: 320px;
    top: 240px;
}
.a30 {
    background: #e4d1b3;
    position: absolute;
    left: 400px;
    top: 240px;
}
.a31 {
    background: #9c644b;
    position: absolute;
    left: 480px;
    top: 240px;
}
.a32 {
    background: #e4d1b3;
    position: absolute;
    left: 560px;
    top: 240px;
}
/*вторая половина*/

.a33 {
    background: #e4d1b3;
    position: absolute;
    left: 0;
    top: 320px;  
}
.a34 {
    background: #9c644b;
    position: absolute;
    left: 80px;
    top: 320px;
}
.a35 {
    background: #e4d1b3;
    position: absolute;
    left: 160px;
    top: 320px;
}
.a36 {
    background: #9c644b;
    position: absolute;
    left: 240px;
    top: 320px;
}
.a37 {
    background: #e4d1b3;
    position: absolute;
    left: 320px;
    top: 320px;
}
.a38 {
    background: #9c644b;
    position: absolute;
    left: 400px;
    top: 320px;
}
.a39 {
    background: #e4d1b3;
    position: absolute;
    left: 480px;
    top: 320px;
}
.a40 {
    background: #9c644b;
    position: absolute;
    left: 560px;
    top: 320px;
}
.a41 {
    background: #9c644b;
    position: absolute;
    left: 0;
    top: 400px;
}
.a42 {
    background: #e4d1b3;
    position: absolute;
    left: 80px;
    top: 400px;
}
.a43 {
    background: #9c644b;
    position: absolute;
    left: 160px;
    top: 400px;
}
.a44 {
    background: #e4d1b3;
    position: absolute;
    left: 240px;
    top: 400px;
}
.a45 {
    background: #9c644b;
    position: absolute;
    left: 320px;
    top: 400px;
}
.a46 {
    background: #e4d1b3;
    position: absolute;
    left: 400px;
    top: 400px;
}
.a47 {
    background: #9c644b;
    position: absolute;
    left: 480px;
    top: 400px;
}
.a48 {
    background: #e4d1b3;
    position: absolute;
    left: 560px;
    top: 400px;
}
.a49 {
    background: #e4d1b3;
    position: absolute;
    left: 0;
    top: 480px;  
}
.a50 {
    background: #9c644b;
    position: absolute;
    left: 80px;
    top: 480px;
}
.a51 {
    background: #e4d1b3;
    position: absolute;
    left: 160px;
    top: 480px;
}
.a52 {
    background: #9c644b;
    position: absolute;
    left: 240px;
    top: 480px;
}
.a53 {
    background: #e4d1b3;
    position: absolute;
    left: 320px;
    top: 480px;
}
.a54 {
    background: #9c644b;
    position: absolute;
    left: 400px;
    top: 480px;
}
.a55 {
    background: #e4d1b3;
    position: absolute;
    left: 480px;
    top: 480px;
}
.a56 {
    background: #9c644b;
    position: absolute;
    left: 560px;
    top: 480px;
}
.a57 {
    background: #9c644b;
    position: absolute;
    left: 0;
    top: 560px;
}
.a58 {
    background: #e4d1b3;
    position: absolute;
    left: 80px;
    top: 560px;
}
.a59 {
    background: #9c644b;
    position: absolute;
    left: 160px;
    top: 560px;
}
.a60 {
    background: #e4d1b3;
    position: absolute;
    left: 240px;
    top: 560px;
}
.a61 {
    background: #9c644b;
    position: absolute;
    left: 320px;
    top: 560px;
}
.a62 {
    background: #e4d1b3;
    position: absolute;
    left: 400px;
    top: 560px;
}
.a63 {
    background: #9c644b;
    position: absolute;
    left: 480px;
    top: 560px;
}
.a64 {
    background: #e4d1b3;
    position: absolute;
    left: 560px;
    top: 560px;
}